# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.xml
*.log

# Build results
[Bb]in/
[Oo]bj/
/out/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db
